<h1>User info</h1>

<div>
  <%= image_tag user.get_profile_image(100,100) %>
  <table>
    <tr><th>name</th><th><%= user.name %></th></tr>
    <tr><th>introduction</th><th><%= user.introduction %></th></tr>
  </table>
</div>

<div>
  <%= link_to edit_user_path(user) do %>
    <i class="fa-solid fa-user-gear"></i>
  <% end %>
</div>